* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shift-form {
  background-color: white;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100vh;
  margin: 10px 10px;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 0%;
  bottom: 0%;
}

form {
  background-color: white;
  padding: 0px 10px 0px 5px;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label {
  font-weight: 600;
  padding: 5px 80px;
  margin: 0px 10px;
  display: flex;

  justify-content: space-between;
}

h5 {
  flex: 1;
  width: 25%;
}

label > input {
  border-radius: 0;
  border-bottom: 1px solid black;
  flex: 1;
  width: 50%;
}

select {
  flex: 1;
  margin: 0px 10px;
}

fieldset input {
  margin: 0px 10px;
}

input[type="submit"] {
  background-color: #1332b9;
  border: 2px solid #1332b9;
  border-radius: 20px;
  color: white;
  padding: 16px 32px;
  margin: 14px 2px;
  cursor: pointer;
}

.spacing {
  margin-bottom: 10px;
}

.linewrap {
  display: flex;
  flex-wrap: wrap;
}
